/*
  Name: Todd Mills
  Assignment: Week 7 Lab
  Date: 5/1/22
  Purpose: Custom CSS handling beyond JQuery mobile for IRL Bug Tracker
*/

.ui-content {
  margin: auto;
  max-width: 500px;
  max-height: 100%;
  
}

.bugs {
max-width: 100%;
}

.panel-body{
  padding-left: 10%;
  padding-bottom: 70px;
  
}

#login-page-content {
  max-width: 130px;
}

#canvas-food, #canvas-temp, #canvas-humidity {
  margin: auto;
  height: 200px;
  width: 400px;
}

th, td {
  padding: 6px;
}