/*
  Name: Todd Mills
  Assignment: Week 6 Lab
  Date: 4/23/22
  Purpose: Custom CSS handling beyond JQuery mobile for IRL Bug Tracker
*/

.ui-content {
  max-width: 400px;
  margin: auto;
}

.bugs {
max-width: 100%;
}

#login-page-content {
  max-width: 130px;
}

#canvas-food, #canvas-temp, #canvas-humidity, #canvas-advice {
  border: 1px solid #000000;
  height: 300px;
  width:100%;
}

